In [1]:
import pandas as pd
import numpy as np
from gensim.utils import simple_preprocess
from gensim.models import Word2Vec

In [2]:
cleaned_data = pd.read_csv('../Datasets/Cleaned-Data.csv')
artificial_features = pd.read_csv('../Datasets/Artificial_Features.csv')

In [3]:
cleaned_data.head()

,question1,question2,is_duplicate,Q1_cleaned,Q2_cleaned
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,step step guide invest share market india,step step guide invest share market
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,story kohinoor koh noor diamond,would happen indian government stole kohinoor ...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,increase speed internet connection using vpn,internet speed increased hacking dns
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,mentally lonely solve,find remainder math math divided
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,one dissolve water quikly sugar salt methane c...,fish would survive salt water

In [4]:
cleaned_data.shape

(404287, 5)

In [5]:
cleaned_data.isnull().sum()

question1         0
question2         0
is_duplicate      0
Q1_cleaned      177
Q2_cleaned      175
dtype: int64

In [6]:
cleaned_data.dropna(inplace=True)

In [7]:
artificial_features.head()

,q1_len,q2_len,q1_words,q2_words,common_words,total_words,words_share,token_set,token_sort,partial_token_set,partial_token_sort
0,28,27,4,4,2,8,0.25,71,69,100,75
1,33,34,4,4,2,8,0.25,75,66,100,64
2,83,7,14,2,1,16,0.06,60,13,100,57
3,23,18,4,3,2,7,0.29,76,54,100,50
4,53,84,8,10,0,14,0.00,20,22,26,33

In [8]:
artificial_features.shape

(100000, 11)

In [9]:
# dataset = pd.concat([cleaned_data, artificial_features], axis=1)
# dataset = dataset.sample(100000)
# dataset.shape

In [10]:
# dataset.head()

In [11]:
# cleaned_data = dataset[cleaned_data.columns]
# artificial_features = dataset[artificial_features.columns]
# cleaned_data.shape, artificial_features.shape

In [12]:
cleaned_data = cleaned_data.sample(100000)

In [13]:
cleaned_data.shape

(100000, 5)

# Word2Vec

In [14]:
cleaned_data.shape

(100000, 5)

In [15]:
questions = cleaned_data['Q1_cleaned'].tolist() + cleaned_data['Q2_cleaned'].tolist()

In [16]:
questions = pd.DataFrame(questions, columns=['Questions'])
questions

                                                Questions
0                                              get ripped
1                                    connect simulink plc
2        suggestions ideas improve english writing skills
3                                                buy moon
4       difference international company multinational...
...                                                   ...
199995  b com h student go actuarial science yes statu...
199996                pikachu better starter three others
199997                             change default browser
199998                               like print something
199999  universities air methods recruit new grads maj...

[200000 rows x 1 columns]

In [17]:
questions['Questions'].isnull().sum()

0

In [18]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Questions  200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [19]:
questions['Tokens'] = [simple_preprocess(str(sentence)) for sentence in questions['Questions']]
questions.head()

,Questions,Tokens
0,get ripped,"[get, ripped]"
1,connect simulink plc,"[connect, simulink, plc]"
2,suggestions ideas improve english writing skills,"[suggestions, ideas, improve, english, writing..."
3,buy moon,"[buy, moon]"
4,difference international company multinational...,"[difference, international, company, multinati..."

In [20]:
vector_size = 500
word2vec_model = Word2Vec(questions['Tokens'], min_count=1, window=10, vector_size=vector_size, workers=8, sg=1)

In [21]:
#word2vec_model.build_vocab(questions['tokens'], progress_per=1000)

In [22]:
#word2vec_model.train(questions['tokens'], total_examples=word2vec_model.corpus_count, epochs=word2vec_model.epochs)

In [23]:
def avgVectors(tokens):
  avg_vector = np.mean([word2vec_model.wv.get_vector(token) for token in tokens], axis=0)
  return avg_vector

In [24]:
questions['avg w2v vectorized'] = questions['Tokens'].apply(avgVectors)

c:\Users\Priyesh Dave\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,

In [25]:
questions.head()

,Questions,Tokens,avg w2v vectorized
0,get ripped,"[get, ripped]","[0.1591037, 0.12783964, 0.19466783, 0.14870681..."
1,connect simulink plc,"[connect, simulink, plc]","[0.0911453, 0.05019818, 0.25945228, 0.03318710..."
2,suggestions ideas improve english writing skills,"[suggestions, ideas, improve, english, writing...","[0.10612717, 0.1330968, 0.20293021, -0.0109047..."
3,buy moon,"[buy, moon]","[0.21124767, -0.03409654, 0.29923323, 0.105853..."
4,difference international company multinational...,"[difference, international, company, multinati...","[0.060116827, 0.13761255, 0.30151713, 0.133050..."

In [26]:
len(questions['avg w2v vectorized'].to_list())

200000

In [27]:
questions['avg w2v vectorized'].shape

(200000,)

In [28]:
middle = int(questions['avg w2v vectorized'].shape[0]/2)
middle

100000

In [29]:
question1 , question2 = questions['avg w2v vectorized'].iloc[0:middle] , questions['avg w2v vectorized'].iloc[middle :]

In [30]:
question1 = question1.reset_index().drop('index', axis=1).rename(columns={'avg w2v vectorized': 'Q1'})

In [31]:
question2 = question2.reset_index().drop('index', axis=1).rename(columns={'avg w2v vectorized': 'Q2'})

In [32]:
question1

                                                      Q1
0      [0.1591037, 0.12783964, 0.19466783, 0.14870681...
1      [0.0911453, 0.05019818, 0.25945228, 0.03318710...
2      [0.10612717, 0.1330968, 0.20293021, -0.0109047...
3      [0.21124767, -0.03409654, 0.29923323, 0.105853...
4      [0.060116827, 0.13761255, 0.30151713, 0.133050...
...                                                  ...
99995  [-0.0023616066, 0.20501213, 0.28903687, 0.1376...
99996  [0.09110853, 0.14864902, 0.24272138, 0.1540661...
99997  [0.061042443, 0.079808444, 0.21341662, 0.19023...
99998  [0.37136382, 0.047368728, 0.16829772, 0.148179...
99999  [0.34249508, 0.3953077, 0.108111314, 0.0481300...

[100000 rows x 1 columns]

In [33]:
question2

                                                      Q2
0      [0.1351882, 0.20211737, 0.24466793, 0.18238716...
1      [0.18062268, 0.20486212, 0.44039485, 0.2012050...
2      [0.16359526, 0.17857885, 0.16626261, -0.018835...
3      [0.13385396, 0.045677263, 0.33972287, 0.075053...
4      [0.061009254, 0.10987089, 0.3020047, 0.1345269...
...                                                  ...
99995  [0.13103975, 0.24281748, 0.21392013, 0.1246250...
99996  [0.16038403, 0.13329938, 0.22683398, 0.1564481...
99997  [0.061042443, 0.079808444, 0.21341662, 0.19023...
99998  [0.3154023, 0.24774222, 0.14911468, 0.14163765...
99999  [0.35275012, 0.42672846, 0.07443691, 0.0616040...

[100000 rows x 1 columns]

In [34]:
for index, row in enumerate(question1['Q1']):
  print(index)
  print(row)
  print(type(row.tolist()))
  break

0
[ 1.59103706e-01  1.27839640e-01  1.94667831e-01  1.48706809e-01
 -1.13213390e-01 -1.18471168e-01  8.68537351e-02  2.81193972e-01
 -3.13126519e-02 -7.68457279e-02 -1.31241605e-01  2.24267140e-01
 -4.88885790e-02 -8.71500000e-03  1.62148073e-01 -2.02782676e-01
 -1.30953416e-01 -8.45367908e-02  6.25486393e-03  5.54991961e-02
 -1.15565538e-01 -4.99609523e-02  4.46389243e-02  7.14727677e-03
  5.88550558e-03 -9.60357338e-02  4.94239107e-02 -6.52092993e-02
 -1.08660504e-01  9.59865749e-04  2.93502044e-02 -1.14031985e-01
 -8.09751227e-02 -1.20033368e-01  1.59358665e-01  7.65682533e-02
  7.19376653e-02  1.54070593e-02 -9.00426358e-02 -1.41288012e-01
  1.19292974e-01 -8.14112425e-02 -2.07896262e-01 -4.26040739e-02
  4.32470813e-02 -8.16317648e-02 -1.08839318e-01  3.62626940e-01
 -4.03515659e-02 -6.22265115e-02  6.19551837e-02 -1.00243464e-01
  2.36176133e-01 -1.31385252e-01 -8.66997764e-02 -7.47849941e-02
  1.69160947e-01 -8.57591033e-02 -1.11820489e-01  6.69579655e-02
  1.73209608e-01 -6.13514036e-02  1.08267501e-01  2.59075221e-02
 -1.12073226e-02  9.57308039e-02 -1.36559457e-01  1.73318550e-01
  1.00930654e-01 -1.65378377e-01 -1.76712617e-01  9.19379890e-02
  1.71722382e-01  2.85785049e-02  2.91772068e-01  1.86536789e-01
 -4.89338748e-02  1.05935689e-02  1.13284402e-01  7.79545307e-02
 -2.28001326e-01 -6.82642013e-02 -1.85937554e-01  1.00082964e-01
 -1.82844311e-01  4.92986888e-02 -8.39458592e-03  1.33749247e-01
  9.23691839e-02  4.85471115e-02  1.08367458e-01  3.96125615e-01
 -7.86101520e-02  1.52741715e-01  1.93182707e-01  2.48330429e-01
  3.00949886e-02  1.20704928e-02  8.79596174e-02  2.17144229e-02
  8.09637830e-02 -1.18582189e-01  1.01861656e-01  1.32724449e-01
 -1.10382408e-01  1.17085278e-02  3.66751477e-02  8.33033696e-02
 -1.60847068e-01 -2.01110840e-02  6.09160848e-02 -1.36499614e-01
 -1.09807491e-01  1.37016132e-01 -2.07893386e-01 -8.32126960e-02
  2.83421129e-02 -2.13921994e-01  2.11325586e-01 -1.87968835e-01
 -3.34737413e-02  6.29819036e-02  9.70123261e-02 -9.43064988e-02
  5.97311631e-02 -7.75305629e-02 -1.43727601e-01  4.02004980e-02
 -6.58074319e-02 -1.81734636e-01  3.00126374e-01  1.17051065e-01
  2.90577430e-02  1.15347244e-01 -1.29851341e-01  5.39494976e-02
  1.47283763e-01 -1.76918238e-01 -1.65149257e-01 -3.33848119e-01
  1.87351927e-01 -2.38879830e-01  1.49107605e-01 -1.66344747e-01
  9.02078003e-02  1.53394192e-01 -2.70017888e-02 -8.17805156e-02
  6.47408664e-02  1.70309216e-01  1.01781851e-02 -2.17254192e-01
 -8.57756510e-02  2.34455287e-01 -1.40306413e-01 -1.49807930e-01
 -5.05621396e-02 -8.35066438e-02 -7.96418637e-02  3.14432755e-02
 -2.86843292e-02 -5.88019080e-02  7.24299327e-02 -1.26005501e-01
  3.55333909e-02  2.38573074e-01  9.73976776e-02 -2.79016122e-02
  9.39712673e-03  3.10152285e-02  1.20416153e-02  2.09318042e-01
  3.79455127e-02  3.06536257e-01 -8.60437192e-03 -2.56347120e-01
  6.21286919e-03 -2.00147741e-02  1.08683176e-01  4.11648229e-02
  7.49694556e-02 -5.02771661e-02  2.73598507e-02  8.04783404e-02
 -7.89767355e-02 -1.54822633e-01  3.23040113e-02  5.92112131e-02
  1.06364742e-01  1.19927436e-01  1.75632447e-01 -1.59051597e-01
  1.01542845e-01  1.63500551e-02  4.94380742e-02  2.10446902e-02
  2.06864834e-01 -8.80645588e-02 -4.51787934e-02  1.53719679e-01
  5.74500076e-02 -1.68212667e-01  2.82132804e-01  1.73885867e-01
  4.62859869e-04  1.58932269e-01  4.83387150e-02 -8.25474411e-02
 -1.37515724e-01 -1.06935307e-01 -6.54566735e-02 -7.11099058e-02
  2.67035812e-02 -2.09351718e-01  1.08462140e-01 -1.04165815e-01
  1.17332764e-01 -1.55356571e-01 -1.57419145e-01 -3.68937016e-01
  1.04994245e-01  1.08576551e-01  2.01105744e-01 -1.24604583e-01
  9.38551500e-02 -2.49528717e-02  1.44681051e-01 -2.82246191e-02
 -9.79018956e-02  3.12480569e-01 -9.59516689e-03 -7.71491006e-02
 -4.88493405e-03 -4.99253273e-02 -7.53487796e-02  3.19319889e-02
 -9.17219669e-02 -2.07770228e-01  7.46748224e-02 -2.30167154e-02
  3.49984765e-02 -6.17653579e-02 -6.51769340e-02  2.73080081e-01
  1.02364242e-01 -9.25254524e-02  7.57768750e-02 -8.24127644e-02
  2.37762719e-01  4.18075807e-02  2.38797721e-02 -1.54203638e-01
 -1.63551420e-03 -6.96973950e-02 -1.20687857e-01  1.60958320e-01
  5.02188653e-02  1.42254829e-01 -1.98133826e-01  1.47277400e-01
 -5.37611321e-02 -2.99810991e-03 -1.49518847e-01  2.14272991e-01
  1.01720437e-01  1.45523936e-01 -2.42439613e-01  1.58498496e-01
 -1.99630529e-01 -1.67023942e-01  8.96314979e-02  1.90445036e-02
  2.37958491e-01  6.99293092e-02 -1.47471875e-01 -3.67376655e-02
 -6.44463673e-02 -1.69099152e-01 -1.97117664e-02  2.10044086e-01
  7.07645342e-03 -3.48084047e-03 -1.74317405e-01 -7.41792470e-03
  5.85073419e-02 -1.87806949e-01  9.50765461e-02  5.78446388e-02
  2.05759719e-01 -4.15398739e-03 -6.71588480e-02  2.85386801e-01
 -2.11491391e-01 -7.89552703e-02 -7.12809861e-02  1.81675702e-01
  4.73339111e-03 -8.87779668e-02  1.26053020e-01 -1.48811430e-01
 -1.17373966e-01  7.11487830e-02 -1.88145097e-02 -4.19112779e-02
  1.80593014e-01 -1.83062360e-01  1.37429625e-01  3.86114605e-02
 -1.59166366e-01 -3.25283930e-02 -3.03799845e-03 -2.17750803e-01
  1.88256964e-01  2.68022325e-02  1.11247301e-01 -3.36857475e-02
 -1.23724692e-01 -9.80554447e-02 -2.08716094e-01 -1.11688375e-01
  1.39917612e-01  1.90397382e-01  2.76922941e-01 -1.63992226e-01
 -2.88291480e-02  1.25795394e-01 -6.06781431e-02 -2.56828576e-01
  1.54603980e-02  2.15141010e-02  1.41699925e-01 -1.97092846e-01
  5.06891534e-02  3.11469793e-01  1.26712844e-01 -2.07119323e-02
  7.78486878e-02  7.02739507e-02  1.68713368e-02 -1.77595168e-01
  4.10831012e-02  1.01207547e-01  1.69202797e-02 -2.22353607e-01
 -3.56173441e-02  1.64534524e-01 -2.69141346e-01  1.24752238e-01
 -9.23694596e-02  6.68362081e-02  2.57925242e-02  1.61795214e-01
 -1.04609534e-01  1.15763173e-01 -2.11071402e-01 -5.33375517e-02
 -6.12116270e-02  2.28925925e-02 -2.75366008e-04 -1.84488609e-01
 -1.11407518e-01 -2.49895044e-02  8.90670568e-02  7.06746429e-02
 -9.54709649e-02 -1.41173810e-01  4.03225720e-02 -5.15843593e-02
 -1.30099252e-01 -4.22797054e-02 -1.72636837e-01 -6.24414980e-02
 -3.40902321e-02  1.06089927e-01 -3.27924266e-04 -2.21835762e-01
 -2.34732181e-02  4.27584313e-02 -6.85358495e-02 -5.43307476e-02
  1.80577189e-02 -1.77233800e-01  1.31397605e-01  6.29799366e-02
  1.25414133e-01  5.13437670e-03  2.99234092e-02 -1.10816732e-01
 -6.99984357e-02 -1.55081868e-01 -1.19594723e-01 -1.03466548e-02
  4.86580655e-02 -1.44949853e-01  2.26540655e-01  2.24342346e-01
  5.74347377e-02 -6.74261674e-02  1.27527878e-01  1.00950077e-01
 -8.65308940e-02 -3.97701599e-02 -2.38781199e-01 -1.68807298e-01
 -8.43993202e-02 -2.48034358e-01 -5.93206659e-02  1.65921062e-01
 -1.92379057e-02 -1.26801049e-02  3.11546773e-02 -5.17580807e-02
 -2.74571508e-01 -1.41533971e-01  8.59906226e-02  8.29690173e-02
  7.78407156e-02 -6.76664859e-02  2.92473510e-02 -2.58287609e-01
 -1.81872874e-01 -5.87564521e-02  2.73849629e-02 -7.45191202e-02
  7.00310320e-02  9.31119770e-02 -2.68346190e-01  1.17172733e-01
  1.55461421e-02 -2.01245844e-01  5.68052717e-02  5.12818992e-02
  1.62838534e-01 -3.37854549e-02 -5.23184314e-02 -8.22711829e-03
  4.43469062e-02  1.04143389e-01  5.24436906e-02  1.39039516e-01
 -3.26458439e-02  2.19189096e-02  1.15288287e-01 -1.21809989e-01
  2.91614920e-01  8.48396569e-02  1.60075516e-01  2.14892268e-01
 -1.45488828e-01 -2.63209846e-02  1.49828479e-01 -2.46161483e-02
  1.09360084e-01 -1.68340698e-01 -7.92434216e-02 -6.94239289e-02
 -7.90930465e-02 -1.39601812e-01  9.17357132e-02 -8.04970786e-02
  7.63062239e-02 -1.72916912e-02  8.92788917e-02  1.34536520e-01
 -1.32389218e-01 -2.31317095e-02 -9.59994122e-02 -2.35922426e-01
  1.69565417e-02  1.46544740e-01  2.62341741e-02  1.58019900e-01
  7.77209923e-02 -1.71351999e-01  8.85249674e-03  1.13937087e-01
  1.90005600e-01  2.83267759e-02 -1.32019952e-01  1.71593539e-02
 -6.42128289e-03 -1.09764516e-01 -1.40622467e-01  1.29748791e-01
  9.12321433e-02  2.41093095e-02 -8.52626264e-02  1.26686513e-01
  2.41830617e-01 -3.54002342e-02 -7.51928091e-02 -5.57113588e-02
  1.38249367e-01  1.65415704e-02  2.82781646e-02 -2.03409433e-01
 -1.25086516e-01 -5.67192584e-03 -1.94386244e-02  1.61579415e-01]
<class 'list'>

In [35]:
# Store the vectors for train data in following file
OUTPUT_FOLDER = '../Datasets/'
word2vec_filename = OUTPUT_FOLDER + 'Q1_word2vec.csv'
with open(word2vec_filename, 'w+') as word2vec_file:
    for index, row in enumerate(question1['Q1']):
        #model_vector = (np.mean([word2vec_model.wv.get_vector(token) for token in row['Tokens']], axis=0)).tolist()
        row = row.tolist()
        if index == 0:
            header = ",".join(str(ele) for ele in range(vector_size))
            word2vec_file.write(header)
            word2vec_file.write("\n")
        # Check if the line exists else it is vector of zeros
        if type(row) is list:  
            line1 = ",".join( [str(vector_element) for vector_element in row] )
        else:
            line1 = ",".join([str(0) for i in range(vector_size)])
        word2vec_file.write(line1)
        word2vec_file.write('\n')

In [36]:
Q1 = pd.read_csv('../Datasets/Q1_word2vec.csv')
Q1.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.159104,0.127840,0.194668,0.148707,-0.113213,-0.118471,0.086854,0.281194,-0.031313,-0.076846,...,-0.075193,-0.055711,0.138249,0.016542,0.028278,-0.203409,-0.125087,-0.005672,-0.019439,0.161579
1,0.091145,0.050198,0.259452,0.033187,-0.024802,-0.095558,-0.004581,0.196599,-0.041321,0.037035,...,0.013230,0.009511,0.080315,-0.009877,0.013205,-0.062634,-0.071021,-0.154481,-0.043556,-0.025714
2,0.106127,0.133097,0.202930,-0.010905,-0.051594,-0.147373,0.090241,0.522273,0.116916,0.140777,...,-0.230715,-0.122945,0.039841,-0.003337,0.023143,-0.021244,-0.331358,-0.017265,-0.176439,-0.150574
3,0.211248,-0.034097,0.299233,0.105853,0.037535,-0.040176,-0.121438,0.406516,0.051698,-0.038953,...,0.141510,-0.153866,0.237007,0.126008,-0.259372,-0.040827,-0.048652,-0.297636,-0.159818,-0.002610
4,0.060117,0.137613,0.301517,0.133050,0.014871,-0.153269,0.016563,0.303499,0.085074,0.168118,...,0.070693,-0.061162,0.116656,0.025282,0.142333,-0.014501,-0.282383,-0.173748,0.072248,-0.013023

In [37]:
# Store the vectors for train data in following file
OUTPUT_FOLDER = '../Datasets/'
word2vec_filename = OUTPUT_FOLDER + 'Q2_word2vec.csv'
with open(word2vec_filename, 'w+') as word2vec_file:
    for index, row in enumerate(question2['Q2']):
        #model_vector = (np.mean([word2vec_model.wv.get_vector(token) for token in row['Tokens']], axis=0)).tolist()
        row = row.tolist()
        if index == 0:
            header = ",".join(str(ele + vector_size) for ele in range(vector_size))
            word2vec_file.write(header)
            word2vec_file.write("\n")
        # Check if the line exists else it is vector of zeros
        if type(row) is list:  
            line1 = ",".join( [str(vector_element) for vector_element in row] )
        else:
            line1 = ",".join([str(0) for i in range(vector_size)])
        word2vec_file.write(line1)
        word2vec_file.write('\n')

In [38]:
Q2 = pd.read_csv('../Datasets/Q2_word2vec.csv')
Q2.head()

,500,501,502,503,504,505,506,507,508,509,...,990,991,992,993,994,995,996,997,998,999
0,0.135188,0.202117,0.244668,0.182387,-0.087658,-0.210874,0.099161,0.245719,0.028115,-0.084472,...,-0.098332,-0.118939,0.113934,-0.009238,0.006367,-0.144849,-0.145922,-0.014966,-0.087658,0.115435
1,0.180623,0.204862,0.440395,0.201205,-0.105556,-0.152936,0.054567,0.542428,0.034744,0.035175,...,0.011026,-0.074607,0.178489,0.047545,0.104875,-0.051214,-0.136349,-0.207822,-0.083756,-0.159096
2,0.163595,0.178579,0.166263,-0.018836,-0.115097,-0.127559,0.098684,0.498126,0.114626,0.180547,...,-0.168487,-0.145497,0.000056,0.040941,0.071111,-0.026878,-0.315068,-0.000822,-0.088132,-0.098859
3,0.133854,0.045677,0.339723,0.075053,-0.008764,-0.079616,0.045309,0.443606,0.188744,0.016297,...,0.072816,-0.210135,0.268748,0.064604,-0.109583,0.118173,0.090241,-0.268488,-0.078953,-0.174966
4,0.061009,0.109871,0.302005,0.134527,-0.020455,-0.103552,-0.015302,0.216958,0.050221,0.119446,...,-0.010212,-0.037607,0.105114,0.076840,0.076730,-0.056583,-0.124962,-0.103746,-0.000177,-0.126717

In [39]:
Q1.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.159104,0.127840,0.194668,0.148707,-0.113213,-0.118471,0.086854,0.281194,-0.031313,-0.076846,...,-0.075193,-0.055711,0.138249,0.016542,0.028278,-0.203409,-0.125087,-0.005672,-0.019439,0.161579
1,0.091145,0.050198,0.259452,0.033187,-0.024802,-0.095558,-0.004581,0.196599,-0.041321,0.037035,...,0.013230,0.009511,0.080315,-0.009877,0.013205,-0.062634,-0.071021,-0.154481,-0.043556,-0.025714
2,0.106127,0.133097,0.202930,-0.010905,-0.051594,-0.147373,0.090241,0.522273,0.116916,0.140777,...,-0.230715,-0.122945,0.039841,-0.003337,0.023143,-0.021244,-0.331358,-0.017265,-0.176439,-0.150574
3,0.211248,-0.034097,0.299233,0.105853,0.037535,-0.040176,-0.121438,0.406516,0.051698,-0.038953,...,0.141510,-0.153866,0.237007,0.126008,-0.259372,-0.040827,-0.048652,-0.297636,-0.159818,-0.002610
4,0.060117,0.137613,0.301517,0.133050,0.014871,-0.153269,0.016563,0.303499,0.085074,0.168118,...,0.070693,-0.061162,0.116656,0.025282,0.142333,-0.014501,-0.282383,-0.173748,0.072248,-0.013023

In [40]:
artificial_features.head()

,q1_len,q2_len,q1_words,q2_words,common_words,total_words,words_share,token_set,token_sort,partial_token_set,partial_token_sort
0,28,27,4,4,2,8,0.25,71,69,100,75
1,33,34,4,4,2,8,0.25,75,66,100,64
2,83,7,14,2,1,16,0.06,60,13,100,57
3,23,18,4,3,2,7,0.29,76,54,100,50
4,53,84,8,10,0,14,0.00,20,22,26,33

In [41]:
dataset_word2vec = pd.concat([Q1,Q2], axis=1)
dataset_word2vec.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.159104,0.127840,0.194668,0.148707,-0.113213,-0.118471,0.086854,0.281194,-0.031313,-0.076846,...,-0.098332,-0.118939,0.113934,-0.009238,0.006367,-0.144849,-0.145922,-0.014966,-0.087658,0.115435
1,0.091145,0.050198,0.259452,0.033187,-0.024802,-0.095558,-0.004581,0.196599,-0.041321,0.037035,...,0.011026,-0.074607,0.178489,0.047545,0.104875,-0.051214,-0.136349,-0.207822,-0.083756,-0.159096
2,0.106127,0.133097,0.202930,-0.010905,-0.051594,-0.147373,0.090241,0.522273,0.116916,0.140777,...,-0.168487,-0.145497,0.000056,0.040941,0.071111,-0.026878,-0.315068,-0.000822,-0.088132,-0.098859
3,0.211248,-0.034097,0.299233,0.105853,0.037535,-0.040176,-0.121438,0.406516,0.051698,-0.038953,...,0.072816,-0.210135,0.268748,0.064604,-0.109583,0.118173,0.090241,-0.268488,-0.078953,-0.174966
4,0.060117,0.137613,0.301517,0.133050,0.014871,-0.153269,0.016563,0.303499,0.085074,0.168118,...,-0.010212,-0.037607,0.105114,0.076840,0.076730,-0.056583,-0.124962,-0.103746,-0.000177,-0.126717

In [42]:
cleaned_data.isnull().sum()

question1       0
question2       0
is_duplicate    0
Q1_cleaned      0
Q2_cleaned      0
dtype: int64

## ANN

In [65]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout, Embedding, SpatialDropout1D, Dropout, Bidirectional
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, auc, roc_auc_score

from sklearn.model_selection import train_test_split

In [44]:
dataset_word2vec.shape, cleaned_data['is_duplicate'].shape

((100000, 1000), (100000,))

In [50]:
X_train_w2v, X_test_w2v, y_train_w2v, y_test_w2v = train_test_split(dataset_word2vec, cleaned_data['is_duplicate'], test_size=.33, random_state=42, shuffle=True)

In [51]:
y_train_w2v.value_counts()

0    42227
1    24773
Name: is_duplicate, dtype: int64

In [52]:
y_test_w2v.value_counts()

0    20717
1    12283
Name: is_duplicate, dtype: int64

In [53]:
y_train_w2v =  np.array(y_train_w2v).reshape(-1,1)
y_test_w2v =  np.array(y_test_w2v).reshape(-1,1)

In [54]:
X_train_w2v.shape, X_test_w2v.shape, y_train_w2v.shape, y_test_w2v.shape

((67000, 1000), (33000, 1000), (67000, 1), (33000, 1))

In [55]:
X_train_w2v.shape, X_test_w2v.shape, y_train_w2v.shape, y_test_w2v.shape

((67000, 1000), (33000, 1000), (67000, 1), (33000, 1))

In [56]:
X_train_w2v_lstm = np.array(X_train_w2v).reshape(-1, 1, X_train_w2v.shape[1])
X_test_w2v_lstm  = np.array(X_test_w2v).reshape(-1, 1, X_train_w2v.shape[1])
y_train_w2v_lstm = y_train_w2v.reshape(-1, 1, 1)
y_test_w2v_lstm = y_test_w2v.reshape(-1, 1, 1)

In [57]:
X_train_w2v_lstm.shape, X_test_w2v_lstm.shape, y_train_w2v_lstm.shape, y_test_w2v_lstm.shape

((67000, 1, 1000), (33000, 1, 1000), (67000, 1, 1), (33000, 1, 1))

In [62]:
MODEL_NAME = 'W2V_LSTM'

model = Sequential()

model.add(Bidirectional(LSTM(512, input_shape=(1, X_train_w2v.shape[1]), kernel_initializer = 'he_uniform', activation = 'relu', return_sequences=True)))
model.add(Dropout(.3))
model.add(Bidirectional(LSTM(256, input_shape=(1, X_train_w2v.shape[1]), kernel_initializer = 'he_uniform', activation = 'relu', return_sequences=True)))
model.add(Dropout(.3))
model.add(Bidirectional(LSTM(128, kernel_initializer = 'he_uniform', activation='relu')))

model.add(Dense(1, kernel_initializer = 'glorot_uniform', activation='sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer='adam', metrics = ['accuracy'])

In [63]:
my_callbacks = [
    EarlyStopping(patience=2),
    ModelCheckpoint(filepath='../LSTM/Callbacks/model.{epoch:02d}-{val_loss:.2f}.h5'),
    TensorBoard(log_dir='../LSTM/logs'),
]

In [64]:
model.fit(X_train_w2v_lstm, y_train_w2v_lstm, validation_data=(X_test_w2v_lstm, y_test_w2v_lstm), epochs=100, batch_size=1024, callbacks=my_callbacks)

Epoch 1/100
66/66 [==============================] - 53s 625ms/step - loss: 0.6087 - accuracy: 0.6784 - val_loss: 0.5480 - val_accuracy: 0.7311
Epoch 2/100
66/66 [==============================] - 36s 541ms/step - loss: 0.5394 - accuracy: 0.7351 - val_loss: 0.5256 - val_accuracy: 0.7421
Epoch 3/100
66/66 [==============================] - 34s 522ms/step - loss: 0.5118 - accuracy: 0.7489 - val_loss: 0.5091 - val_accuracy: 0.7448
Epoch 4/100
66/66 [==============================] - 32s 489ms/step - loss: 0.4924 - accuracy: 0.7572 - val_loss: 0.4928 - val_accuracy: 0.7529
Epoch 5/100
66/66 [==============================] - 32s 493ms/step - loss: 0.4785 - accuracy: 0.7616 - val_loss: 0.4867 - val_accuracy: 0.7544
Epoch 6/100
66/66 [==============================] - 38s 575ms/step - loss: 0.4697 - accuracy: 0.7675 - val_loss: 0.4850 - val_accuracy: 0.7554
Epoch 7/100
66/66 [==============================] - 41s 616ms/step - loss: 0.4601 - accuracy: 0.7719 - val_loss: 0.4792 - val_accuracy: 0.7579
Epoch 8/100
66/66 [==============================] - 38s 570ms/step - loss: 0.4510 - accuracy: 0.7752 - val_loss: 0.4748 - val_accuracy: 0.7620
Epoch 9/100
66/66 [==============================] - 38s 574ms/step - loss: 0.4456 - accuracy: 0.7795 - val_loss: 0.4774 - val_accuracy: 0.7628
Epoch 10/100
66/66 [==============================] - 59s 897ms/step - loss: 0.4379 - accuracy: 0.7842 - val_loss: 0.4789 - val_accuracy: 0.7628

In [66]:
train_pred_w2v = model.predict(X_train_w2v_lstm)
train_pred_w2v = (train_pred_w2v > 0.5)
train_pred_w2v

test_pred_w2v = model.predict(X_test_w2v_lstm)
test_pred_w2v = (test_pred_w2v > 0.5)
test_pred_w2v

print('Training')
print(accuracy_score(y_train_w2v, train_pred_w2v))
print(classification_report(y_train_w2v, train_pred_w2v))
print(confusion_matrix(y_train_w2v, train_pred_w2v))

print('==================================')

print('Test')
score = accuracy_score(y_test_w2v, test_pred_w2v)
auc_score = roc_auc_score(y_test_w2v, test_pred_w2v)
print('Accuracy Score: ', score)
print('AUC: ', auc_score)
print(classification_report(y_test_w2v, test_pred_w2v))
print(confusion_matrix(y_test_w2v, test_pred_w2v))

Training
0.8005820895522388
              precision    recall  f1-score   support

           0       0.82      0.88      0.85     42227
           1       0.76      0.67      0.71     24773

    accuracy                           0.80     67000
   macro avg       0.79      0.77      0.78     67000
weighted avg       0.80      0.80      0.80     67000

[[37019  5208]
 [ 8153 16620]]
==================================
Test
Accuracy Score:  0.7627878787878788
AUC:  0.7327542361686468
              precision    recall  f1-score   support

           0       0.79      0.85      0.82     20717
           1       0.71      0.62      0.66     12283

    accuracy                           0.76     33000
   macro avg       0.75      0.73      0.74     33000
weighted avg       0.76      0.76      0.76     33000

[[17615  3102]
 [ 4726  7557]]

## LSTM

In [72]:
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout, Bidirectional
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard
import tensorflow

In [67]:
questions.head()

,Questions,Tokens,avg w2v vectorized
0,get ripped,"[get, ripped]","[0.1591037, 0.12783964, 0.19466783, 0.14870681..."
1,connect simulink plc,"[connect, simulink, plc]","[0.0911453, 0.05019818, 0.25945228, 0.03318710..."
2,suggestions ideas improve english writing skills,"[suggestions, ideas, improve, english, writing...","[0.10612717, 0.1330968, 0.20293021, -0.0109047..."
3,buy moon,"[buy, moon]","[0.21124767, -0.03409654, 0.29923323, 0.105853..."
4,difference international company multinational...,"[difference, international, company, multinati...","[0.060116827, 0.13761255, 0.30151713, 0.133050..."

In [68]:
questions.shape

(200000, 3)

In [71]:
voc_size = 16000
embedding_vector_features = 500

In [73]:
# One hot representation of words
onehot_repr=[one_hot(sentence,voc_size) for sentence in questions['Questions']] 
#onehot_repr

In [75]:
onehot_repr[0:5]

[[10704, 15276],
 [3845, 12743, 7833],
 [14629, 3622, 2277, 12660, 6995, 12030],
 [9237, 5204],
 [5437, 690, 15819, 7369, 15819]]

In [76]:
one_hot_dict = dict()

for encodingList, tokensList in zip(onehot_repr, questions['Tokens']):
  for index, word in zip(encodingList, tokensList):
    one_hot_dict[word] = index
    
one_hot_df = pd.DataFrame(one_hot_dict.items(), columns=['Word', 'Encoded Value'])
one_hot_df.head()
one_hot_df.to_csv('../Datasets/One Hot Encoded Data.csv', index=False)

In [83]:
q1_onehot_repr, q2_onehot_repr  = onehot_repr[0: middle] , onehot_repr[middle:]

In [85]:
len(q1_onehot_repr), len(q2_onehot_repr)

(100000, 100000)

In [86]:
# Getting what is the highest count of words in any sentence
q1_max_count = max([len(arr) for arr in q1_onehot_repr])
q1_max_count

53

In [87]:
# Getting what is the highest count of words in any sentence
q2_max_count = max([len(arr) for arr in q2_onehot_repr])
q2_max_count

97

In [88]:
# Embedding the sentences
q1_embedded_docs = pad_sequences(q1_onehot_repr,padding='pre',maxlen=q1_max_count)
print(q1_embedded_docs)

[[    0     0     0 ...     0 10704 15276]
 [    0     0     0 ...  3845 12743  7833]
 [    0     0     0 ... 12660  6995 12030]
 ...
 [    0     0     0 ...  9964  4112 15106]
 [    0     0     0 ...     0     0  7967]
 [    0     0     0 ... 13122 13959 15577]]

In [89]:
# Embedding the sentences
q2_embedded_docs = pad_sequences(q2_onehot_repr,padding='pre',maxlen=q2_max_count)
print(q2_embedded_docs)

[[    0     0     0 ... 10704 15276  2471]
 [    0     0     0 ...  6260  2521 13892]
 [    0     0     0 ... 12030 11212   436]
 ...
 [    0     0     0 ...  9964  4112 15106]
 [    0     0     0 ...   766 12991 11031]
 [    0     0     0 ... 13122 13959 15577]]

In [92]:
len(q1_embedded_docs), len(q2_embedded_docs)

(100000, 100000)

In [93]:
len(q1_embedded_docs[0]), len(q2_embedded_docs[0])

(53, 97)

In [94]:
q1_embedded_docs = np.array(q1_embedded_docs)
q2_embedded_docs = np.array(q2_embedded_docs)

data = np.hstack((q1_embedded_docs, q2_embedded_docs))
embedded_df = pd.DataFrame(data)
embedded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10704,15276,2471
1,0,0,0,0,0,0,0,0,0,0,...,13560,6857,3598,5763,523,11418,5124,6260,2521,13892
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2277,12660,6995,12030,11212,436
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6083,11611,5204
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1320,2082,7369,11848

In [102]:
model=Sequential()
model.add(Embedding(voc_size,embedding_vector_features,input_length=embedded_df.shape[1]))
model.add(Dropout(0.3))
model.add(Bidirectional(LSTM(200, kernel_initializer  = 'he_uniform', return_sequences=True)))
model.add(Bidirectional(LSTM(100, kernel_initializer  = 'he_uniform')))

model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [96]:
my_callbacks_lstm = [
    EarlyStopping(patience=2),
    ModelCheckpoint(filepath='../LSTM_WordEmbeddings/Callbacks/model.{epoch:02d}-{val_loss:.2f}.h5'),
    TensorBoard(log_dir='../LSTM_WordEmbeddings/logs'),
]

In [98]:
X_LSTM = embedded_df.copy()
y_LSTM = np.array(cleaned_data['is_duplicate'])

In [99]:
X_LSTM.shape, y_LSTM.shape

((100000, 150), (100000,))

In [100]:
X_train_lstm, X_test_lstm, y_train_lstm, y_test_lstm = train_test_split(X_LSTM, y_LSTM, test_size=.33, random_state=42, shuffle=True)

In [103]:
model.fit(X_train_lstm, y_train_lstm, validation_data=(X_test_lstm, y_test_lstm), epochs=100, batch_size=1024, callbacks=my_callbacks_lstm)

Epoch 1/100
 8/66 [==>...........................] - ETA: 29:52 - loss: 0.6641 - accuracy: 0.6228